@font-face {
    src: url("/extras/font/Roboto-Bold.ttf");
}

.label-integrity {
    -fx-font: bold normal 16px "Roboto";
    -fx-min-width: 56px;
    -fx-alignment: center-right;
    -fx-text-fill: rgb(0, 0, 0);
}