@font-face {
    src: url("/extras/font/Roboto-Regular.ttf");
}

@font-face {
    src: url("/extras/font/Roboto-Bold.ttf");
}

.label-content-manual {
    -fx-font: normal normal 16px "Roboto";
    -fx-text-alignment: justify;
    -fx-wrap-text: true;
}

.label-menu-index {
    -fx-font: normal normal 16px "Roboto";
    -fx-alignment: center-right;
    -fx-min-width: 195;
}

.label-menu-index:hover {
    -fx-text-fill: rgb(0, 100, 255);
}

#label-menu-index-selected {
    -fx-font-weight: bold;
    -fx-text-fill: rgb(0, 100, 255);
}