@font-face {
    src: url("/extras/font/Roboto-Regular.ttf");
}

@font-face {
    src: url("/extras/font/Roboto-Bold.ttf");
}

.link-content {
    -fx-font: normal normal 16px "Roboto";
    -fx-border-style: none;
    -fx-border-width: 0px;
}