@font-face {
    src: url("/font/Roboto-Regular.ttf");
}

@font-face {
    src: url("/font/Roboto-Bold.ttf");
}

.copyable:hover {
    -fx-tooltip-visible: true;
}

.label-content {
    -fx-font: normal normal 16px "Roboto";
}

.label-subject {
    -fx-font: bold normal 16px "Roboto";
    -fx-alignment: center-right;
    -fx-max-width: infinity;
}

.pane-root {
    -fx-alignment: center;
    -fx-hgap: 15;
    -fx-vgap: 15;
    -fx-padding: 20;
}