@font-face {
    src: url("/font/Roboto-Regular.ttf");
}

@font-face {
    src: url("/font/Roboto-Bold.ttf");
}

/* OK */
.accordion-manual {
    -fx-min-width: 500;
    -fx-pref-width: 500;
    -fx-min-height: 300;
    -fx-pref-height: 300;
}

/* OK */
.label-content-manual {
    -fx-font: normal normal 16px "Roboto";
    -fx-text-alignment: justify;
    -fx-wrap-text: true;
}

/* OK */
.label-menu-index {
    -fx-alignment: center-right;
    -fx-font: normal normal 16px "Roboto";
    -fx-min-width: 195;
}

/* OK */
.label-menu-index:hover,
#label-menu-index-selected {
    -fx-text-fill: rgb(0, 100, 255);
}

/* OK */
#label-menu-index-selected {
    -fx-font-weight: bold;
}

/* OK */
.pane-background {
    -fx-alignment: center;
    -fx-hgap: 20;
    -fx-padding: 20;
}

/* OK */
.pane-content-manual {
    -fx-alignment: center;
    -fx-padding: 15;

    /* Fit the height in the scroll */
    -fx-min-height: 137;
}

/* OK */
.pane-content-manual-encryption {
    -fx-hgap: 50;
    -fx-vgap: 50;
}

/* OK */
.pane-content-manual-encryption .label-content-manual {
    -fx-alignment: center;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}

/* OK */
.pane-content-manual-operation {
    -fx-spacing: 15;
}

/* OK */
.pane-menu-index {
    -fx-alignment: center;
    -fx-spacing: 20;
}

/* OK */
.scroll-content-manual {
    -fx-fit-to-width: true;
    -fx-fit-to-height: false;
}

/* OK */
.scroll-root {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

/* OK */
.titled-pane {
    -fx-font: bold normal 16px "Roboto";
}